# Sale Analysis

Import Necessary Libraries

In [3]:
import numpy as np
import pandas as pd
import os

## Step 1: Getting the Data
Task #1: Merging 12 Months of sales data into a single file 'all_data.csv'

In [22]:
# get all csv files
files = [file for file in os.listdir('./Sales_Data')]

all_months_data = pd.DataFrame()

# concate all files into single dataframe
for file in files:
    df = pd.read_csv("./Sales_Data/" + file)
    all_months_data = pd.concat([all_months_data, df])

# save file
all_months_data.to_csv('all_data.csv', index = False)

In [24]:
df = pd.read_csv('all_data.csv')
df.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 186850 entries, 0 to 186849
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order ID          186305 non-null  object
 1   Product           186305 non-null  object
 2   Quantity Ordered  186305 non-null  object
 3   Price Each        186305 non-null  object
 4   Order Date        186305 non-null  object
 5   Purchase Address  186305 non-null  object
dtypes: object(6)
memory usage: 8.6+ MB

In [ ]:
# 
# df.head()
# 
# df.shape
# df.describe()
# df.columns

In this dataset, columns as the following:

* column1: description
* column2: description
* column3: description

In [ ]:
# all unique value for columns

# for i in headers:
#     print(df[i].unique())