# Sale Analysis

Import Necessary Libraries

In [1]:
import numpy as np
import pandas as pd
import os

## Step 1: Getting the Data
Task #1: Merging 12 Months of sales data into a single file 'all_data.csv'

In [2]:
# get all csv files
files = [file for file in os.listdir('./Sales_Data')]

all_months_data = pd.DataFrame()

# concate all files into single dataframe
for file in files:
    df = pd.read_csv("./Sales_Data/" + file)
    all_months_data = pd.concat([all_months_data, df])

# save file
all_months_data.to_csv('all_data.csv', index = False)

Read in updated dataframe

In [3]:
df = pd.read_csv('all_data.csv')
df

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
...,...,...,...,...,...,...
186845,259353,AAA Batteries (4-pack),3,2.99,09/17/19 20:56,"840 Highland St, Los Angeles, CA 90001"
186846,259354,iPhone,1,700,09/01/19 16:00,"216 Dogwood St, San Francisco, CA 94016"
186847,259355,iPhone,1,700,09/23/19 07:39,"220 12th St, San Francisco, CA 94016"
186848,259356,34in Ultrawide Monitor,1,379.99,09/19/19 17:30,"511 Forest St, San Francisco, CA 94016"
186849,259357,USB-C Charging Cable,1,11.95,09/30/19 00:18,"250 Meadow St, San Francisco, CA 94016"

In this dataset, columns as the following:

* 'Order ID': Identification number for orders.
* 'Product': Name of Product.
* 'Quantity Ordered': Number of items requested.
* 'Price Each': The price per item.
* 'Order Date': When the order was placed. (Time & date)
* 'Purchase Address': Contact information for purchases.

In [4]:
df.shape

(186850, 6)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 186850 entries, 0 to 186849
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order ID          186305 non-null  object
 1   Product           186305 non-null  object
 2   Quantity Ordered  186305 non-null  object
 3   Price Each        186305 non-null  object
 4   Order Date        186305 non-null  object
 5   Purchase Address  186305 non-null  object
dtypes: object(6)
memory usage: 8.6+ MB

## Step 2: Analyzing Data
**EDA (Exploratory Data Analysis)**

Exploring the descriptive statistics of the variables

In [6]:
#include='all' shows all numerical and string values
df.describe(include='all')

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
count,186305,186305,186305,186305,186305,186305
unique,178438,20,10,24,142396,140788
top,Order ID,USB-C Charging Cable,1,11.95,Order Date,Purchase Address
freq,355,21903,168552,21903,355,355

In [7]:
df.isnull().sum()

Order ID            545
Product             545
Quantity Ordered    545
Price Each          545
Order Date          545
Purchase Address    545
dtype: int64

## Step 3: Preprocessing (prepare data)

In [8]:
# all unique value for columns

for i in df.columns:
    print(df[i].unique())

['176558' nan '176559' ... '259355' '259356' '259357']
['USB-C Charging Cable' nan 'Bose SoundSport Headphones' 'Google Phone'
 'Wired Headphones' 'Macbook Pro Laptop' 'Lightning Charging Cable'
 '27in 4K Gaming Monitor' 'AA Batteries (4-pack)'
 'Apple Airpods Headphones' 'AAA Batteries (4-pack)' 'iPhone'
 'Flatscreen TV' '27in FHD Monitor' '20in Monitor' 'LG Dryer'
 'ThinkPad Laptop' 'Vareebadd Phone' 'LG Washing Machine'
 '34in Ultrawide Monitor' 'Product']
['2' nan '1' '3' '5' 'Quantity Ordered' '4' '7' '6' '8' '9']
['11.95' nan '99.99' '600' '11.99' '1700' '14.95' '389.99' '3.84' '150'
 '2.99' '700' '300' '149.99' '109.99' '600.0' '999.99' '400' '379.99'
 'Price Each' '700.0' '1700.0' '150.0' '300.0' '400.0']
['04/19/19 08:46' nan '04/07/19 22:30' ... '09/23/19 07:39'
 '09/19/19 17:30' '09/30/19 00:18']
['917 1st St, Dallas, TX 75001' nan '682 Chestnut St, Boston, MA 02215'
 ... '981 4th St, New York City, NY 10001'
 '840 Highland St, Los Angeles, CA 90001'
 '220 12th St, San Francisco, CA 94016']

Augment data with additional columns

In [10]:
df['Month'] = df['Order Date'].str[0:2]
df['Month'].unique()

array(['04', nan, '05', 'Or', '08', '09', '12', '01', '02', '03', '07',
       '06', '11', '10'], dtype=object)

In [12]:
df['Month'] = df['Month'].replace('Or', np.NaN)

In [13]:
df.isnull().sum()

Order ID            545
Product             545
Quantity Ordered    545
Price Each          545
Order Date          545
Purchase Address    545
Month               900
dtype: int64

In [17]:
# Drop duplicates & NaN values from DataFrame and reset index 
df.drop_duplicates(inplace = True)
df.dropna(axis = 0, inplace=True)
df.reset_index(drop=True, inplace=True)

In [16]:
df['Month'] = df['Month'].astype('int32')
df['Month']

0         4
1         4
2         4
3         4
4         4
         ..
185681    9
185682    9
185683    9
185684    9
185685    9
Name: Month, Length: 185686, dtype: int32

Question #1: What was the best month for sales? How much was earned that month?

In [ ]:
# all unique value for columns

# for i in headers:
#     print(df[i].unique())